*{
    margin: 40px;
}

.profile{
    float: right;
    margin: 4px;
    padding: 8px;
    border: 1px solid black;
}

.my-top{
    margin-top: 16px;
}

table, th, td {
    border:1px solid black;
}